@font-face {
    font-family: Futura;
    src: url("../fonts/futura.otf") format("opentype");
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.points-container {
    padding: 15px;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
    border-radius: 12px;
}

.points-container .result {
    padding-top: 15px;
    padding-left: 5px;
    margin-top: 15px;
    border-top: 1px solid #ddd;
}

input[type="text"]{
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    padding: 5px 4px -1px 16px;
    padding-left: 14px;
    width: 150px;
}

input[type="text"]:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

input[type="text"]:focus {
    outline: none !important;
}

input[type="button"]{
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 4px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    float: right;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    input[type="button"]{
        float: none;
    }
}

input[type="button"]:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

input[type="button"]:focus {
    border: 1px solid #4d90fe;
    outline: none;
}

.navbar{
    height: 20px;
}

.points-title{
    font-family: 'Futura', serif;
    font-weight: 100;
    font-size: 48px;
    font-size: 3vw;
    margin-top: 20%;
    letter-spacing: 21px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .points-title {
        font-size: 5vw;
    }
}

.g-blue, .g-red, .g-yellow, .g-green{
    letter-spacing: -30px;
    font-weight: 900;
}

.g-blue{
    color:#4285f4;
}

.g-red{
    color:#ea4335;
}

.g-yellow{
    color:#fbbc05;
}

.g-green{
    color:#34a853;
}

.collapse:not(.show) {
    display: flex;
    position: absolute;
    top: 0px;
    right: 5px;
    height: 18px;
}